/* Umumiy Header uslubi */
header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
  /* background-color: rgba(255, 255, 255, 0.9); Yengil fon qo'shildi */
  padding: 10px 0;
  gap: 200px;
  /* margin-bottom: 300px; */
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Pastga soyali ko'rinish */
}

/* Logo joylashuvi */
header .logo {
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Navigatsiya menyusi */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px; /* Optimal masofa */
  margin-left: auto; /* Logo va menyu orasida bo'sh joy */
  margin-right: 20px;
  padding: 0;
}

/* Linklar */
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #ffa500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ff4500;
}

/* Active (faol) link uslubi */
nav ul li a.active {
  padding: 5px 15px;
  color: #fff;
  background-color: blue;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}

/* 468px va undan kichik ekranlar uchun media query */
@media screen and (max-width: 468px) {
  header {
      /* flex-direction: column; */
      height: auto;
      padding: 10px;
      align-items: flex-start;
      display: block;
      display: flex;

      background-color: rgba(255, 255, 255, 1); /* To'liq oq fon */
  }

  header .logo {
      font-size: 18px;
      display: none;
      padding-left: 0;
      margin-bottom: 10px;
      /* display: block; Logo ko'rinib turishi */
  }

  nav ul {
      /* flex-direction: column; */
      align-items: flex-start;
      gap: 10px;
      width: 100%;
      padding: 0;
      margin: 0;
      margin-left: 30px;
  }

  nav ul li a {
      font-size: 14px;
      padding: 5px 10px;
      display: block;
      width: 100%;
  }

  nav ul li a.active {
      font-size: 14px;
      padding: 5px 10px;
      background-color: blue;
      color: #fff;
  }
}
