.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orange;
}

.loader {
    width: 100px;
    height: 100px;
    border: 12px solid   white;
    border-top-color: blue;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 468px va undan kichik ekranda o'lcham kichrayadi */
@media (max-width: 468px) {
    .loader {
        width: 60px;
        height: 60px;
        border-width: 7px;
    }
}
